
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Tive uma ideia! Graças ao GPS estamos muito a frente do Bowser ao calcular o trajeto mais rápido e agora que chegamos, vamos trocar o link e assim ele vai aparecer em outro lugar</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message mario-message">
          <b>Mario</b><br>
          <span>Deu certo! O portal fechou</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Agora temos tempo para usar a internet e tecnologia para defender o castelo</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message luigi-message">
          <b>Luigi</b><br>
          <span>O que é essa tecnologia e internet que vocês dois tanto falam?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Bom, como eu disse para a princesa, a internet é um meio de troca de informações, e a tecnologia é um meio para que a gente consiga utilizá-la de forma eficiente, no caso olhem aqui, Mario, a Princesa me disse no caminho para encontrá-los que você estava procurando um emprego de encanador, mas estava difícil, certo?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message mario-message">
          <b>Mario</b><br>
          <span>Bom, sim tá meio complicado hoje em dia</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Uma boa vantagem da internet é a comunicação então, utilizando o Google, vamos pesquisar empregos de encanador próximo do reino e... Achamos aqui, um local precisa de um bom encanador aqui perto, você pode ir lá e prestar serviço, eles pagam uma boa quantidade de moedas pelo q vejo</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message mario-message">
          <b>Mario</b><br>
          <span>Nossa legal essa internet, e isso que você está usando para pesquisar é o que exatamente?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Um celular, ele pode acessar a internet e se comunicar com pessoas a distância</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message luigi-message">
          <b>Luigi</b><br>
          <span>Então caso a gente se meta em problemas ou a princesa, podemos nos comunicar através desse celular sem estar próximo?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Exatamente Luigi, irei dar um para cada um de vocês, e outra coisa, podemos contratar um serviço de segurança para o castelo, assim vai ser mais difícil da princesa ser capturada pelo Bowser</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Muito legal isso, então a tecnologia pode ser muito útil mesmo certo?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Sim, a internet pode ajudar toda a humanidade, principalmente na parte de comunicação e busca de informações</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="message narrador-message">
          <span>Após dormir no castelo da princesa, Will acorda em sua sala de estar, com o videogame ligado e os personagens dando tchau pela TV</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Essa aventura foi muito doida, mas foi divertida.</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/home" size="default" shape="round">
      Voltar para o início &nbsp;
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>

</ion-content>
