<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Projeto Will Letii
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message my-message">
          <b>Mario</b><br>
          <span>Tudo começou em um dia de tédio no domin a noite, eu não tinha para fazer, então pensei, po.. e meu videogame antigo?</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message other-message">
          <b>Peach</b><br>
          <span>Tudo começou em um dia de tédio no domingo a noite, eu não tinha para fazer, então pensei, po.. e meu videogame antigo?</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: center;">
    <ion-button (click) = op1()>
      USE O GPS
    </ion-button>
  </ion-grid>


</ion-content>
