
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="message narrador-message">
          <span>Você esqueceu do sensor, e mandou Mario e Luigi falarem quando desviar,
            vocês desviam de alguns cascos, mas alguns acabam entrando em contato, vocês são pegos pelo Bowser
          </span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="message narrador-message">
          <span>Final 4, uma direção sem tecnologia</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/caminho-um-dois-dois" size="default" shape="round">
      Voltar para a página anterior &nbsp;
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>

</ion-content>
