.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
   
  .narrador-message {
    background: var(--ion-color-tertiary);
    color: #fff;
  }
  
  .my-message {
    background: var(--ion-color-primary);
    color: #fff;
  }
   
  .mario-message {
    background: var(--ion-color-danger);
    color: #fff;
  }
  
  .luigi-message {
    background: var(--ion-color-success);
    color: #fff;
  }
   
  .peach-message {
    background: var(--ion-color-warning);
    color: #fff;
  }
  
  .time {
    color: #dfdfdf;
    float: right;
    font-size: small;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }