<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="message narrador-message">
          <span>Chegando no castelo, Will vê o portal, e acima dele estava escrito: “Google”</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Ah, parece que eles acabaram se perdendo dentro dos servidores da Google</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Google? O que é isso? Um encanamento novo?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Não princesa, para explicar isso primeiro vou te falar o que é a internet</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>A internet é um meio de comunicação utilizado para poder receber e mandar informações, ela é utilizada para poder pesquisar locais, entretenimento, comunicação com pessoas a distância e busca de informações diversas</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Interessante essa tal da internet, mas e esse Google o que tem haver?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Google é um site de pesquisa, ele une informações variadas no mundo da internet, podemos pesquisar a localização do Mario e do Luigi através dele por exemplo</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Ótimo, mas como usamos esse Google?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Já sei!</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="message narrador-message">
          <span>Will pega o cogumelo que havia guardado no bolso, e materializa certas tecnologias que utilizam a internet e podem ser úteis na jornada.</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Nossa quanta coisa! Que objetos estranhos são esses?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>São equipamentos que utilizam a internet, tenho umas ideias de como usar eles</span>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Qual vamos usar para achar o Mario e Luigi?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Bom, eu estava pensando... você ainda tem aquele kart?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Tenho, qual a ideia?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/caminho-um-um" size="default" shape="round">
      Bora que nós achamos 
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/caminho-um-dois" size="default" shape="round">
      Pesquise a localização de Mario e Luigi <br>
      usando o notebook &nbsp;
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>

</ion-content>
