
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="message narrador-message">
          <span>Vocês conseguem seguir caminho até os dois.</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Mario! Luigi! Vocês estão bem?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message mario-message">
          <b>Mario</b><br>
          <span>Princesa! Estou com medo, esse lugar é muito estranho!</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message luigi-message">
          <b>Luigi</b><br>
          <span>Também estou com medo Mario, quem é esse Peach?</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Mario, Luigi, esse é Will ele veio nos ajudar a entender essa Internet, mas primeiro vamos sair daqui</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Gente cuidado! Tem um casco chegando ali</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message bowser-message">
          <b>Bowser</b><br>
          <span>Quem é esse garoto? Ele já está estragando meu plano, eu havia feito essa dimensão após o contato com um ser chamado vírus, que disse que me livraria de vocês dois finalmente</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>Mario, Luigi, entrem no kart e vamos sair logo daqui!</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message bowser-message">
          <b>Bowser</b><br>
          <span>VOLTEM AQUI! EU AINDA NÃO ACABEI COM VOCÊS</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message mario-message">
          <b>Mario</b><br>
          <span>Gente ele está nos atacando com cascos! Temos que desviar!</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/caminho-um-dois-dois-um" size="default" shape="round">
      Use o sensor colocado <br> anteriormente no kart da princesa &nbsp;
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>

</ion-content>
