
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col offset="3" size="9" class="message my-message">
          <b>Will</b><br>
          <span>Encontrei! Mario e Luigi estão presos dentro desse link, parece mais um circuito de kart mesmo então vai dar certo, porém parece também um labirinto...</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="9" class="message peach-message">
          <b>Peach</b><br>
          <span>O que a gente faz então? Vamos nos perder se for só na memória</span>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/caminho-um-dois-um" size="default" shape="round">
      A gente consegue seguir pela memória,<br> decora uma metade do mapa e eu a outra  &nbsp;
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>

  <ion-grid style="text-align: end;">
    <ion-button style="text-transform: none;" routerLink="/caminho-um-dois-dois" size="default" shape="round">
      Vamos usar esse GPS <br> para marcar a localização deles &nbsp;
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-button>
  </ion-grid>


</ion-content>
